a:link{
color:#9999CC;
}
a:visited{
color:#999999;
}
a:active{
color:#FFCC66;
}
body{
color:#FFFFFF;
background-color:#000066;
}
h1{
color:#FFFFFF;
}
h2,marquee{
color:#FFFFFF;
}
h3{
color:#FFFFFF;
}
h4{
color:#FFFFFF;
}
h5{
color:#FFFFFF;
}
h6{
color:#FFFFFF;
}
LABEL,.MSTHEME-LABEL{
color:#FFFFFF;
}
FIELDSET{
border-color:#999999;
color:#FFFFFF;
}
LEGEND{
color:#FFFFFF;
}
SELECT{
border-color:#FFFFFF;
color:#000000;
}
TABLE{
table-border-color-light:#FFFFFF;
table-border-color-dark:#9999CC;
border-color:#9999CC;
color:#FFFFFF;
}
CAPTION{
color:#FFFFFF;
}
TH{
color:#FFFFFF;
}
HR{
color:#FFFFFF;
}
TD{
border-color:#FFFFFF;
}
