.mstheme{
separator-image:url(topruled.gif);
list-image-1:url(topbul1d.gif);
list-image-2:url(topbul2d.gif);
list-image-3:url(topbul3d.gif);
nav-banner-image:url(topband.gif);
navbutton-horiz-normal:url(tophavhd.gif);
navbutton-horiz-pushed:url(topnavhs.gif);
navbutton-vert-normal:url(topnavvd.gif);
navbutton-vert-pushed:url(topnavvs.gif);
navbutton-home-normal:url(tophomd.gif);
navbutton-next-normal:url(topnxtd.gif);
navbutton-prev-normal:url(toppred.gif);
navbutton-up-normal:url(topupd.gif);
}
UL{
list-style-image:url(topbul1d.gif);
}
UL UL{
list-style-image:url(topbul2d.gif);
}
UL UL UL{
list-style-image:url(topbul3d.gif);
}
.mstheme-bannertxt{
font-family:"Trebuchet MS",Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:"trebuchet ms",arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:"trebuchet ms",arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:"trebuchet ms",arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:"trebuchet ms",arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:"trebuchet ms",arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:"trebuchet ms",arial,helvetica;
font-size:1;
color:#000000;
}
