a:link{
color:#993300;
}
a:visited{
color:#0000FF;
}
a:active{
color:#FF9900;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#0000FF;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#FFCC33;
table-border-color-dark:#FFCC33;
border-color:#FFCC33;
color:#000000;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#0000FF;
}
TD{
border-color:#0000FF;
}
